<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div *ngFor="let notification of notifications" class="toast show notification-toast fade-in" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="toast-header" [ngClass]="getBgColor(notification.type)">
            <i class="bi me-2 text-white" [ngClass]="getIcon(notification.type)"></i>
            <strong class="me-auto text-white">{{ notification.type | titlecase }}</strong>
            <button type="button" class="btn-close btn-close-white" aria-label="Close"
                (click)="close(notification.id)"></button>
        </div>
        <div class="toast-body">
            {{ notification.message }}
        </div>
    </div>
</div>