<footer class="site-footer">
    <div class="container">
        <div class="footer-logo" style="text-align: center;">
            <a routerLink="/">EventPortal</a>
        </div>
        <!-- <div class="footer-content"> -->
        <!-- <div class="footer-links"> -->
        <!-- <div class="link-group">
                    <h4>О нас</h4>
                    <ul>
                        <li><a routerLink="/about">О проекте</a></li>
                        <li><a routerLink="/contact">Контакты</a></li>
                    </ul>
                </div>
                <div class="link-group">
                    <h4>Помощь</h4>
                    <ul>
                        <li><a routerLink="/faq">FAQ</a></li>
                        <li><a routerLink="/support">Поддержка</a></li>
                    </ul>
                </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <div class="copyright">
            <p>&copy; {{currentYear}} EventPortal. Все права защищены.</p>
        </div>
    </div>
</footer>